

body {
  font-family: 'Mina', sans-serif;;
  background-color: #f2f2f2;
}

#navBar{
   position:fixed;
   top:0;
   left:0;
   width:100%;
   height:60px;
   background-color:#74AFAD;
}

h1{
  text-align:center;
  line-height: 25px;
}

#chart_div.chartStyle{
  margin-top:100px;
}
